*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',georgia;
    
}
body{
    background-image: url(../img/li.jpg);
    background-size: cover;
    
}

section{
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100px;
    padding: 30px 400px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}
header ul{
    position: relative;
    display: flex;
    float: right;
    margin: 0;
	padding: 0;
}
header ul li
{
    list-style: none;
    display: inline-block;
	margin-left: 10px;
}
header ul li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    text-align: right; 
}
header ul li a:hover
{
    color:rgb(0, 245, 143);

}
section header img{
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: center;
    left: 0%;
    top: 0%;
}
.portrait{
    position: absolute;
    align-items: center;
    width: 700px;
      height: 500px;
      background-image: url(https://ryansechrest.com/content/images/2022/08/nodes.gif);
      background-size: cover;
      border: 3px solid rgb(250, 238, 238);
      border-radius: 20px;
      overflow: hidden;
      padding-top: 0%;
    margin-left: 300; 
    margin-top: 10;  
    top: 100;
}
.portrait h1{
    font-family: verdana;
    font-stretch: semi-condensed;
    color: rgb(14, 187, 199);
    padding-left: 0;
}
.portrait h2{
    font-family: 'Lucida Sans';
    font-size: 40;
    color:rgb(104, 106, 226);
    padding-top: 40;
    padding-left: 200;

    
}
.tribute{
    position: relative;
    display: flex;
    justify-content: space-between(5);
    font-family: 'Segoe UI';
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(10, 8, 46);
    color: #000000;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    left: 25%;
    bottom: 0%;
    border-color: black;  
    margin-left: 65px;  
    font-size: 30;
    font-family: 'Times New Roman';
    color: rgb(243, 220, 12);
    text-decoration: none;
}
.resume{
    
    position: relative;
    display: flex;
    justify-content: space-between(5);
    font-family: 'Segoe UI';
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(10, 8, 46);
    color: #000000;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    left: 5%;
    bottom: 0%s;
    border-color: black;  
    margin-left: 65px;  
    font-size: 30;
    font-family: 'Times New Roman';
    color: rgb(243, 220, 12);
    text-decoration: none;
}
