
body{
    background-image: url(../img/background.jpg);
    overflow-x: hidden;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',georgia;
    
}
section{
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100px;
    padding: 30px 400px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}
header ul{
    position: relative;
    display: flex;
    float: right;
    margin: 0;
	padding: 0;
}
header ul li
{
    list-style: none;
    display: inline-block;
	margin-left: 10px;
}
header ul li a{
    display: inline-block;
    color: rgb(5, 5, 5);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    text-align: right; 
}
header ul li a:hover
{
    color:rgb(0, 245, 143);
}
section header img{
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: center;
    left: 0%;
    top: 0%;
}
div h1{
    position: relative;
    left: 500px;
    top:0px;
}
.shaninfo{
    position: absolute;
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: left; 
    color: rgb(15, 15, 15);
    font-family: cambria;
    font-size: 110%;
    border-radius: 20%;
    background-color: rgb(126, 115, 95);
    border: 6px solid rgb(0, 0, 0);
    top: 45%;
    left: 25%;   
}
.shaninfo img{
    height: 50px;
    width: 50px;
    border-radius: 150%;
}
.shaninfo a{
    text-decoration: none;
    color: rgb(8, 8, 8);
}
.shanif:hover{
    color: blue;
}
.rheainfo{
    position: absolute;
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: left; 
    color: rgb(0, 0, 0);
    font-family: cambria;
    font-size: 110%;
    background-color:rgb(129, 120, 104);
    border-radius: 20%;
    border: 6px solid rgb(18, 51, 46);
    top: 45%;
    left: 50%;
}
.rheainfo img{
    height: 50px;
    width: 50px;
    border-radius: 150%;
}
.rheainfo a{
    text-decoration: none;
    color: black;
}
.rheaif:hover{
    color: blue;
}
 
