*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
div.back{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: rgb(177, 217, 221);
    color: black;
    font-size: 150%;
    height: 5%;
    width: 5%;
    border-radius: 8px;
    border: 3px solid black;

}
div.lisa{
    position: absolute;
    top: 20%;
    left: 10%;
    height: 40%;
    width: 80%;
    border: 3px solid black;
    border-radius: 15%;
}
div.lisa img{
    position: absolute;
    top: 10%;
    left: 7%;
    height: 200px;
    width: 300px;
    border-radius: 15px;
}
div.lisa p{
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: 400%;
    font-family:  Geneva;
    color: mediumpurple;
}
div.lisa h3{
    position: absolute;
    top: 45%;
    right: 25%;
    font-size: 200%;
    font-family: Verdana;
    color: white;
}
div.lisa h4{
    position: absolute;
    top: 60%;
    right: 25%;
    font-size: 150%;
    font-family: Verdana;
    color: white;
}
div.info{
    position: absolute;
    background-image: url(https://i.pinimg.com/564x/e9/76/c8/e976c859ab1e2e0b4d6cc3942d275ad7.jpg);
    opacity: 0.8;
    top:65%;
    left: 10%;
    height: 105%;
    width: 80%;
    border: 4px solid blueviolet;
    border-radius: 5%;
}
div.info p{
    top: 5%;
    font-size: 150%;
    font-family: impact;
}
div.info h3{
    font-size: 120%;
    font-family: arial;
}
    
